<div>
    <h2>Character Abilities</h2>
    <div>
      <label>Strength:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="strength" name="strength" />
    </div>
    <div>
      <label>Dexterity:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="dexterity" name="dexterity" />
    </div>
    <div>
      <label>Constitution:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="constitution" name="constitution" />
    </div>
    <div>
      <label>Intelligence:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="intelligence" name="intelligence" />
    </div>
    <div>
      <label>Wisdom:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="wisdom" name="wisdom" />
    </div>
    <div>
      <label>Charisma:</label>
      <input type="text" pattern="\d*" inputmode="numeric" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="charisma" name="charisma" />
    </div>
  </div>
