<div>
  <h2>Character Abilities</h2>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="input-group">
          <span class="input-group-text bg-light" id="strength">Strength</span>
          <input type="text" pattern="\d*" inputmode="numeric" maxlength="2"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="strength" name="strength"
            class="form-control bg-dark text-white" />
          <span class="input-group-text bg-light">+1</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="input-group">
        <span class="input-group-text bg-light" id="dexterity">Dexterity</span>
        <input type="text" pattern="\d*" inputmode="numeric" maxlength="2"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="dexterity" name="dexterity"
          class="form-control bg-dark text-white" />
        <span class="input-group-text bg-light">+1</span>
      </div>
    </div>
  </div>  
</div>